<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="https://thyneleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
  <nav th:replace="~{fragmentos/navbar}"></nav>

  <main class="main-content">

    <div class="container">

      <h1>Log in</h1>

      <form action="post" class="login">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <button type="submit">LOGIN</button>
      </form>

      <a href="#" class="create__account">Sign Up</a>
    </div>

  </main>

</body>
</html>
