<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste</title>
</head>
<body>
    <ul style="display: flex; justify-content: space-between; width: 100%; list-style: none; padding: 0;">
        <li style="display: flex; gap: 10px;">
            <a href="#">Teste 1</a>
            <a href="#">Teste 2</a>
            <a href="#">Teste 3</a>
            <a href="#">Teste 4</a>
        </li>
        <li>
            <input type="text" placeholder="Digite aqui">
        </li>
    </ul>


    </ul>
</body>
</html>